  .developer-card.mdl-card {
    width: 400;
    height: 200px;
  }
  .developer-card > .mdl-card__title {
    color: #fff;
    background:
      url('../assets/demos/dog.png') bottom right 15% no-repeat #46B6AC;
  }